@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../font/Gilroylight.woff2') format('woff2'), url('../font/Gilroylight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../font/Gilroyextrabold.woff2') format('woff2'), url('../font/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  height: 1px;
  width: 1px;

  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #fff;
  background-color: #fff;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  position: relative;
  padding: 8px 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;

  color: #000;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  background-color: #f0c52e;
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  top: 33%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

button.button::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

a.button {
  padding: 8px 25px;
}

a.button::after {
  top: 40%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* header */

.main-header {
  min-height: 300px;
  margin-top: 34px;
  padding: 0 60px;

  background-color: #f7e296;
}

.inner-header {
  min-height: 186px;
}

.main-logo {
  position: absolute;
  top: -20px;
}

.main-logo:hover img {
  opacity: 0.6;
}

.main-logo:active img {
  opacity: 0.3;
}

.user-navigation,
.main-menu,
.catalog-menu,
.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
  padding-top: 33px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}

.user-navigation li:first-child {
  margin-right: auto;
}

.user-navigation li:nth-child(3) {
  margin-left: 32px;
}

.user-navigation a {
  position: relative;
  padding-left: 27px;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/user-icon.svg") no-repeat 0 50%;
}

.user-navigation .user-navigation__compare::before {
  content: "";
  position: absolute;
  left: 6px;
  top: -4px;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/compare-icon.svg") no-repeat 0 50%;
}

.user-navigation .user-navigation__cart::before {
  content: "";
  position: absolute;
  left: 6px;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/cart-icon.svg") no-repeat 0 50%;
}

.user-navigation a,
.main-menu a,
.catalog-menu a,
.search-form__input {
  font-family: "Open Sans", Arial, sans-serif;
  color: #000;
}

.search-form {
  position: relative;

  display: flex;
  width: 440px;
}

.search-form__input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;

  font: inherit;

  border: none;
  border-bottom: 2px solid transparent;
  background-color: #f7e296;

}

.search-form__input:hover {
  opacity: 1;
}

.search-form__input:focus {
  border-bottom: 2px solid #000;

  opacity: 1;
}

.search-form::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 16px;

  width: 16px;
  height: 16px;

  background: url("../img/search-icon.svg") no-repeat 0 50%;

  opacity: 1;
}

.search-form__btn {
  display: none;
  padding: 8px 20px;

  border: 2px solid #000;
  background: transparent;
}

.search-form__input:focus+.search-form__btn {
  display: block;
}

.search-form__btn:hover {
  background: #000;
  color: #fff;
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

.main-menu,
.service-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #000;
}

.main-menu {
  display: flex;
}

.catalog-link {
  position: relative;
}

.catalog-menu {
  position: absolute;
  left: -60px;
  z-index: 5;

  display: none;
  flex-wrap: wrap;
  width: 1160px;
  padding-top: 25px;
  padding-left: 60px;
  padding-bottom: 20px;

  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  font-weight: 400;

  background-color: #f7e296;
}

.catalog-menu>li {
  display: flex;
}



.catalog-link:hover>.catalog-menu {
  display: flex;
}

a.catalog-active-link {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.2em;
}

.catalog-active-link::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -27px;

  display: block;
  width: 16px;
  height: 16px;

  background: url("../img/plus.svg") no-repeat;

  opacity: 0.3;
}

.catalog-active-link:hover {
  opacity: 0.6;
}

.catalog-active-link:active {
  opacity: 0.3;
}

.catalog-menu ul {
  padding: 0;
  list-style: none;
}

.catalog-menu-column-1 {
  width: 220px;
  margin-right: 20px;
}

.catalog-menu-column-2 {
  width: 180px;
  margin-right: 20px;
}

.catalog-menu-column-3 {
  width: 200px;
}

.catalog-menu li {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0;
}

.service-list {
  display: flex;
  justify-content: space-between;
  width: 500px;

}

.service-list li:nth-child(2) {
  margin-left: 35px;
}

.service-list li:nth-child(3) {
  margin-left: 110px;
}

.service-list a {
  color: #000;
  letter-spacing: 0.2em;
}

.main-menu a:hover,
.user-navigation a:hover,
.service-list a:hover {
  opacity: 0.6;
}

.main-menu a:active,
.user-navigation a:active,
.service-list a:active {
  opacity: 0.3;
}

/* main */

.main {
  margin-bottom: 85px;
}

.slider {
  position: relative;
  top: -112px;

  min-height: 504px;
  margin-bottom: -25px;


  letter-spacing: 0.01em;

  color: #000;
}

.slide {
  display: none;
  justify-content: space-between;
}

.slider-controls {
  position: absolute;
  right: 62px;
  bottom: 148px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.slider-controls>.slider-label:nth-child(1)::before,
#product-2:checked~.slider-controls>.slider-label:nth-child(2):before,
#product-3:checked~.slider-controls>.slider-label:nth-child(3)::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 4px;
  height: 4px;

  border: 1px solid #000;
  border-radius: 50%;
}

#product-1:checked~.slider-list>#slide1,
#product-2:checked~.slider-list>#slide2,
#product-3:checked~.slider-list>#slide3 {
  display: flex;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
  letter-spacing: 0.01em;
}

.slider-item-1 {
  padding-right: 60px;
  padding-left: 90px;
}

.slider-item-2 {
  padding-left: 110px;
  padding-right: 60px;
}

.slider-item-3 {
  padding-left: 30px;
  padding-right: 60px;
}

.slide-image-braclet {
  margin-top: 10px;
}

.slide-image-drone {
  margin-top: 63px;
}

.slide-content {
  width: 500px;
}

.slide-title {
  position: relative;
  z-index: 1;

  width: 500px;
  margin: 0px;
  margin-top: 80px;
  padding-bottom: 18px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
}

.slide-title::before {
  content: "";

  position: absolute;
  top: -45px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.slider-item-1 .slide-title::after {
  content: "01";

  position: absolute;
  right: -11px;
  bottom: 45px;

  font-size: 179px;
  line-height: 179px;

  color: #fff;
}

.slider-item-2 .slide-title::after {
  content: "02";

  position: absolute;
  right: -11px;
  bottom: 40px;

  font-size: 179px;
  line-height: 179px;

  color: #fff;
}

.slider-item-3 .slide-title::after {
  content: "03";

  position: absolute;
  right: -11px;
  bottom: 45px;
  z-index: -1;

  font-size: 179px;
  line-height: 179px;

  color: #fff;
}


.slide-desc {
  width: 500px;
  margin: 0;
  padding-bottom: 50px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #464646;
}

.slide-table {
  margin-top: 50px;
}

.slide-table th {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}

.slide-table td {
  padding-right: 71px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;

  color: #464646;
}

.slider .slide-button {
  padding: 8px 45px;
}

.popular-categories {
  margin-bottom: 175px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-item a:first-child {
  display: flex;
  width: 160px;
  height: 160px;

  background-color: #f0c52e;

  opacity: 0.5;
}

.category-item:hover a {
  opacity: 1;
}

.category-item:hover a {
  opacity: 1;
}

.category-item:active img,
.category-item:active h3 {
  opacity: 0.5;
}


.category-item img {
  margin: 0 auto;
}

.category-item .item-stick {
  margin-top: auto;
}

.category-name {
  width: 160px;
  margin: 0;
  margin-top: 35px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #000;
}

.category-item:nth-child(2) .category-name {
  width: 120px;
}

.category-firm__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 95px;
  padding: 0;

  list-style: none;
}

.category-firm__list a {
  opacity: 0.2;
}

.category-firm__list a:hover {
  opacity: 1;
}

.services {
  min-height: 290px;

  background-color: #e5e5e5;
  color: #000;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-slider-controls {
  position: relative;
  top: -15px;
  display: flex;
  flex-direction: column;
  width: 300px;

}

.services-slider-controls::after {
  content: "";
  position: absolute;
  right: 15px;
  top: -81px;
  width: 7px;
  min-height: 320px;
  height: 100%;

  background-color: #000;
}

.services-slider-controls label {
  position: relative;
  width: 160px;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
}

.input-button {
  margin-bottom: 32px;
  padding: 5px 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2em;

}

.input-button:hover {
  background-color: #f0c52e;
}


.input-button:active {
  opacity: 0.5;
}

.input-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 38%;
  z-index: -1;

  width: 160px;
  height: 8px;

  background-color: #f0c52e;
}

.services-slider-controls label:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
}

.services-slider-controls label:nth-child(2) {
  padding-left: 25px;
  padding-right: 25px;
}

.services-slider-controls label:nth-child(3) {
  padding-left: 40px;
  padding-right: 40px;
}


.services-slider__list {
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: auto;

  color: #000;
}

.services-slider__desc {
  width: 435px;
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #464646;
}

.services-slider__list-item {
  position: relative;
  top: -13px;
  left: 5px;
  display: none;
}

.item-delivery::after {
  content: "";

  position: absolute;
  top: 0;
  right: 70px;
  width: 136px;
  height: 164px;

  background: url("../img/delivery-img.svg") no-repeat;
}

.item-warranty::after {
  content: "";

  position: absolute;
  top: -15px;
  right: 50px;
  width: 171px;
  height: 194px;

  background: url("../img/warranty-img.svg") no-repeat;
}

.item-credit::after {
  content: "";

  position: absolute;
  top: -15px;
  right: 50px;
  width: 156px;
  height: 186px;

  background: url("../img/credit-img.svg") no-repeat;
}


#product-4:checked~.services-slider__list>.item-delivery,
#product-5:checked~.services-slider__list>.item-warranty,
#product-6:checked~.services-slider__list>.item-credit {
  display: block;
}

#product-4:checked~.services-slider-controls>.input-button_delivery,
#product-5:checked~.services-slider-controls>.input-button_warranty,
#product-6:checked~.services-slider-controls>.input-button_credit {
  width: 280px;

  text-align: left;

  background-color: #000;
  color: #f7e184;
}

#product-4:checked~.services-slider-controls>.input-button_delivery::after,
#product-5:checked~.services-slider-controls>.input-button_warranty::after,
#product-6:checked~.services-slider-controls>.input-button_credit::after {
  content: none;
}

.input-button_delivery:active,
.input-button_warranty:active,
.input-button_credit:active {
  width: 280px;

  text-align: left;

  background-color: #000;
  color: #f7e184;
  opacity: 1;
}


.input-button_delivery:active::after,
.input-button_warranty:active::after,
.input-button_credit:active::after {
  content: none;
}

.index-column {
  display: flex;
}

.about-us,
.contacts {
  position: relative;
  margin-top: 135px;
}

.about-us {
  width: 500px;
  margin-right: auto;
}

.contacts {
  width: 560px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  content: "";
  top: -50px;

  width: 80px;
  height: 7px;

  background-color: black;
}

.about-us h2,
.contacts h2 {
  margin-top: 0;
  margin-bottom: 45px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;

  color: #000;
}

.about-us p,
.contacts p {
  margin-top: 30px;
  margin-bottom: 0;
}

p.contacts__map {
  margin-top: 37px;
}

.about-us p:nth-of-type(2) {
  width: 495px;
}

.about-us p,
.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #464646;
}

.about-us a {
  color: #000;
}

.partners {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  margin-top: 65px;
  margin-bottom: 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;

  list-style: none;
  color: #000;

}

.partners li {
  position: relative;
}

.partners li:before {
  position: absolute;
  content: "";
  top: 16px;
  left: -31px;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us__button {
  letter-spacing: 0.2em;
}

.contacts button {
  margin-top: 64px;
  letter-spacing: 0.2em;
}

/* footer */

.main-footer {
  background: #464646;
}

.footer-logo:hover {
  opacity: 0.7;
}

.footer-logo:active {
  opacity: 0.5;
}

.footer-layout-1 {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 56px;
  margin-bottom: 11px;
}

.footer-layout-2 {
  display: flex;
  align-items: center;
}

.footer-layout-2 .service-list {
  display: flex;
  justify-content: flex-start;
  width: 440px;
}

.service-list .service-list__item:nth-child(3) {
  margin-left: 0;
}

.service-list .service-list__item:nth-child(2) {
  margin-left: 0;
  margin-left: 35px;
  margin-right: 35px;
}


.service-list__item a {
  color: #fff;
}

.footer-user-list {
  display: flex;
  justify-content: flex-end;

  width: 513px;
  padding-left: 0;

}

.footer-user-list li:first-child {
  margin-right: 0;
}

.footer-user-list li:nth-child(3) {
  margin-left: 0;
}

.footer-user-list li:nth-child(1n+1) {
  margin-left: 33px;
}

.footer-user-list .login-link::before {
  content: "";
  position: absolute;
  left: 0;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/footer-user-icon.svg") no-repeat 0 50%;
}

.footer-user-list .user-navigation__compare::before {
  content: "";
  position: absolute;
  left: 8px;
  top: -3px;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/footer-compare-icon.svg") no-repeat 0 50%;
}

.footer-user-list .user-navigation__cart::before {
  content: "";
  position: absolute;
  left: 8px;

  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/footer-cart-icon.svg") no-repeat 0 50%;
}

.footer-address {
  width: 250px;
  margin-right: 118px;
  text-align: left;
}

.footer-contacts {
  width: 250px;
  margin-left: auto;
  text-align: right;
}

.footer-user-list a {
  color: #fff;
  opacity: 0.7;
}

.footer-user-list a:hover {
  opacity: 1;
}

.footer-user-list a:active {
  opacity: 0.5;
}

.footer-main-menu a {
  color: #fff;
}

.footer-layout-3 {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.custom-line {
  display: block;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  padding: 0;

  list-style: none;
}

.footer-social li {
  display: flex;
  font-size: 0;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;

  vertical-align: middle;

  border-radius: 50%;
  background-color: #7e7e7e;
}

.social-fb {
  background: url("../img/fb.svg") no-repeat;
  opacity: 0.3;
}

.social-instagram {
  background: url("../img/instagram.svg") no-repeat;
  opacity: 0.3;
}

.social-tw {
  background: url("../img/twitter.svg") no-repeat;
  opacity: 0.3;
}

.social-fb:hover,
.social-instagram:hover,
.social-tw:hover {
  opacity: 0.7;
}

.social-fb:active,
.social-instagram:active,
.social-tw:active {
  opacity: 0.1;
}

.footer-copyright {
  width: 80px;

  text-align: right;
}

.footer-copyright a:hover {
  opacity: 0.7;
}

.footer-copyright a:active {
  opacity: 0.5;
}

/* modals */

.modal {
  position: fixed;
  top: 120px;
  left: 480px;
  z-index: 20;

  display: none;
  width: 960px;
  min-height: 550px;

  background-color: #fff;
  box-shadow: 0 5px 25px 0px rgba(4, 6, 6, 0.3);
}

.modal-contacts {
  border: 1px solid #fff;
}

.modal-map {
  height: 559px;
}

.modal-map p {
  position: relative;
  margin: 0;
}

.modal-map iframe {
  border: none;
}

.modal-map img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.contacts-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 760px;
  margin-top: 95px;
}

.contacts-form p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.contacts-form__label {
  margin-bottom: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #000;
}


.contacts-form input {
  width: 360px;
}

.contacts-form input[type="text"] {
  margin-right: 40px;
}

.contacts-form input,
.contacts-form textarea {
  padding: 20px;

  font-size: 14px;
  line-height: 18px;

  background: #f2f2f2;
  border: 3px solid transparent;
  resize: none;
}

.contacts-form textarea {
  width: 760px;
  min-height: 156px;
}

.contacts-form .button {
  margin-top: 30px;
  margin-bottom: 85px;
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  background: #eaeaea;
}

.contacts-form input:invalid,
.contacts-form textarea:invalid {
  background: #f6dada;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  background-color: #fff;
  border: 3px solid #f7e296;
  outline-color: #f7e296;
}

.modal-close {
  position: absolute;
  right: 50px;
  top: 50px;

  font-size: 0;

  border: none;
  background: transparent;
}

@keyframes appearance {
  0% {
    transform: translateY(-2000px);
  }

  30% {
    transform: translateY(30px);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}


.modal-show {
  display: block;

  animation-name: appearance;
  animation-duration: 1s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 1s;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -25px;
  width: 55px;
  height: 55px;

  background: url("../img/modal-close.svg") no-repeat;

  opacity: 0.5;
}

.modal-close:hover::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.3;
}

/* catalog.html */

.username-button {
  font: inherit;

  background: none;
  border: none;
  color: #000;
  cursor: pointer;

  opacity: 0.5;
}

.username-button:hover {
  opacity: 1;
}

.username-button:active {
  opacity: 0.3;
}

.page-desc {
  padding: 0 60px;
}

.page-title {
  margin-top: 33px;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;

  color: #000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 383px;
  margin-bottom: 44px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs li:first-child,
.breadcrumbs li:nth-child(2) {
  margin-right: auto;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -22px;
  top: 12px;
  display: block;
  width: 10px;
  height: 10px;

  background: url("../img/breadcrumbs-arrow.svg") no-repeat;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  color: #000;
  opacity: 0.5;
}

.breadcrumbs a:hover {
  opacity: 1;
}

.breadcrumbs a:active {
  opacity: 0.3;
}

.catalog-header-wrapper {
  background-image: linear-gradient(to right, #dcdcdc 0, #dcdcdc 28%, #ebebeb 28%, #ebebeb 100%);
}

.catalog-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-image: linear-gradient(to right, #dcdcdc 0, #dcdcdc 28.5%, #ebebeb 28%, #ebebeb 100%);
}

.filter-header {
  box-sizing: content-box;
  width: 200px;
  padding-left: 65px;
  padding-right: 65px;
}

.catalog-sort {
  display: flex;
  align-items: baseline;
  margin-left: 95px;
  width: 760px;
}



.catalog-sort ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sort-nav {
  display: flex;
  align-items: center;
  width: 560px;
  justify-content: space-between;
}

.catalog-sort-nav__left {
  display: flex;
  flex-wrap: wrap;
}

.catalog-sort-nav__left li {
  margin-right: 30px;
}

.catalog-sort-nav__left a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: #000;
  opacity: 0.3;
}

.catalog-sort-nav__left a:hover {
  opacity: 0.6;
}

.catalog-sort-nav__left a:active {
  opacity: 1;
}

.catalog-sort-nav__right a {
  position: relative;
  font-size: 0;
}

.nav-arrow-up {
  opacity: 0.2;
}

.nav-arrow-up::before {
  content: "";

  position: absolute;
  display: block;
  top: 10px;
  right: 30px;
  width: 11px;
  height: 10px;

  background: url("../img/nav-arrow-up.svg") no-repeat;

}

.nav-arrow-down::before {
  content: "";

  position: absolute;
  display: block;
  right: 0px;
  bottom: 16px;
  width: 11px;
  height: 10px;

  background: url("../img/nav-arrow-down.svg") no-repeat;

}

.nav-arrow-up:hover,
.nav-arrow-down:hover {
  opacity: 0.4;
}

.nav-arrow-up:active,
.nav-arrow-down:active {
  opacity: 1;
}

.filter-header h2,
.catalog-sort h2 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #000;
}

.catalog-sort h2 {
  margin-right: 58px;

  letter-spacing: 0.2em;
}


.catalog-content {
  background-image: linear-gradient(to right, #eee 0, #eee 28%, #fff 28%, #fff 100%);
}

.catalog-inner-wrapper {
  display: flex;
}

.filters {
  padding-right: 5px;
  background-color: #eee;
}

.filter-form {
  position: relative;
  width: 325px;
  padding-top: 80px;
  padding-left: 60px;
}

.filter-form::before {
  content: "";

  position: absolute;
  top: 68px;

  width: 201px;
  height: 2px;

  background-color: #000;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters .price-filter {
  margin-right: 65px;
  border-bottom: 2px solid #000;
}

.range-filter {
  width: 200px;
  margin-top: 21px;
}

.range-controls {
  position: relative;
  height: 30px;
  margin-bottom: 0px;
  padding-top: 14px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 55%;
  height: 2px;

  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 4px;
  left: -6px;
  z-index: 5;

  width: 22px;
  height: 22px;
  padding: 0;

  border: 9px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.toggle:active {
  box-shadow: 0 3px 1px 0 #cfcfcf;
}

.range-controls .toggle-max {
  left: 107px;
}

.price-controls {
  display: flex;
  padding-bottom: 22px;
  margin-top: -10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #000;
  opacity: 0.3;
}

.price-controls label {
  width: 15px;
  margin-right: 2px;
}

.price-controls input {
  width: 30%;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #000;


  border: none;
  background-color: transparent;
}


.filters .color-filter {
  margin-top: 10px;
  margin-right: 65px;
  border-bottom: 2px solid #000;
}

.filter-form {
  color: #000;
}

.filter-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter-form ul {
  margin-top: 18px;
  padding: 0;
  padding-bottom: 17px;

  list-style: none;
}

.filter-form label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;

  cursor: pointer;
}

.filter-option {
  position: relative;

  display: block;
  width: 100px;
  padding-left: 40px;

  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 23px;

  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-input-checkbox:checked+label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat center;
}

.filter-input-checkbox:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filters .radio-filter {
  margin-top: 9px;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter-input-radio:checked+label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat center;
}

.filter-option label:hover {
  opacity: 0.7;
}

.filter-option label:active {
  opacity: 0.5;
}

.filter-input:disabled~label {
  opacity: 0.1;
}

.filter-button {
  letter-spacing: 0.2em;

  background: #efefef;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 70px;
  padding-top: 70px;

  list-style: none;
}

.catalog-list li {
  display: flex;
  flex-direction: column;
}

.catalog-list li:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item .item-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item {
  margin-bottom: 45px;
}

.image-wrapper {
  position: relative;
}

.hover-links {
  position: absolute;
  top: 43%;
  left: 25%;
  display: none;
  flex-direction: column;
}

.hover-button-compare {
  margin-left: 15px;

  font-size: 13px;
  line-height: 36px;

  color: #000;
  opacity: 0.5;
}

.hover-button-compare:hover {
  opacity: 1;
}

.hover-button-compare:active {
  opacity: 0.2;
}

.image-wrapper:hover>.hover-links {
  display: flex;
}

.image-wrapper:hover img {
  opacity: 0.7;
}

.new-icon {
  content: "";
  position: absolute;
  top: 29px;
  right: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  background: transparent;
  opacity: 0.1;
}

.catalog-list .item-title {
  width: 270px;
  margin: 0;
  margin-top: 22px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;

  color: #000;
}

.catalog-item:nth-child(even) .item-title {
  width: 230px;
}

.item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  margin-left: 70px;
  margin-bottom: 85px;

  background-color: #ebebeb;
  list-style: none;
}

.pagination-list a {
  padding: 25px 30px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000;
}



.pagination-list a:hover {
  background-color: #d9d9d9;
}

.pagination-list a:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pages-list {
  display: flex;
  margin: 0;
  margin-right: 13px;
  padding: 0;

  list-style: none;
}

.pages-list li {
  margin-left: 30px;
}

.pages-list a {
  padding: 0;

  opacity: 0.3;
}

.pages-list a:hover {
  background-color: #ebebeb;
  opacity: 0.6;
}

.pages-list a:active {
  background-color: #ebebeb;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.pages-list .active-pagination {
  opacity: 1;
}

.pages-list .active-pagination:hover {
  opacity: 1;
}

.pages-list .active-pagination:hover {
  opacity: 1;
}


.main-footer .username-button {
  color: #fff;
  opacity: 0.7;
}

.main-footer .username-button:hover {
  opacity: 1;
}

.main-footer .username-button:active {
  opacity: 0.5;
}
